.about {
  display: flex;
  padding: 0 30px;
  gap: 80px;
}

.about_cont_wrap {
  justify-content: center;
  color: var(--main-text);
}

.about_title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 50px;
}

.about_description {
  word-break: keep-all;
  line-height: 1.8;
  font-size: 18px;
  padding-bottom: 50px;
}

.about_description > p:nth-child(2) {
  padding-bottom: 30px;
}

.about_contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about .contact_block {
  font-weight: 500;
  font-size: 16px;
}

.about .contact_block {
  width: fit-content;
  cursor: pointer;
}

.about .contact_block:hover {
  color: var(--main-color);
}

.about_photo_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  max-height: calc(100vh - 60px);
  background: var(--inv-bg);
  overflow: hidden;
}

.season_section {
  flex-shrink: 0;
  padding: 30px 0;
  color: var(--sub-color);
  font-family: 'JetBrains Mono', monospace;
  -webkit-user-select: none;
  user-select: none;
}

.photo_section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-grow: 1;
  width: 100%;
  color: var(--inv-text);
}