.about {
  display: flex;
  gap: 60px;
}

.about_cont_wrap {
  color: var(--main-text);
}

.about_title {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}

.about_description {
  word-break: keep-all;
  line-height: 1.6;
  font-size: 18px;
  padding-bottom: 30px;
}

.about_description > p:nth-child(2) {
  padding-bottom: 10px;
}

.about_contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.about .contact_block {
  font-weight: 500;
  font-size: 16px;
}

.about .contact_block {
  width: fit-content;
  cursor: pointer;
}

.about .contact_block:hover {
  color: var(--main-color);
}

.about_pic_wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 350px;

  background: var(--inv-bg);
}

.season_section {
  padding: 30px 0;
  color: var(--sub-color);
  font-family: 'JetBrains Mono', monospace;
}

.picture_section {
  color: var(--inv-text);
}