.file_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
}

.modal_content {
  display: flex;
  align-items: center;
  position: relative;
  background: var(--main-bg);
  padding: 40px;
  border-radius: 12px;
  max-width: 80%;
  max-height: 80%;
}

.file_container img {
  max-width: 100%;
  max-height: 70vh;
  object-fit: contain;
  padding: 0 10px;
}

.modal_nav_btn {
  background: none;
  border: none;
  font-size: 30px;
  cursor: pointer;
  padding: 20px;
  color: var(--main-text);
  transition: color 0.2s;
}

.modal_nav_btn:hover {
  color: var(--main-color);
}

.modal_close_btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  border: none;
  background: none;
  cursor: pointer;
}

.file_counter {
  text-align: center;
  margin-top: 10px;
  color: var(--sub-text);
  font-size: 14px;
}