.page_section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.about_section {
  background: linear-gradient(to bottom, var(--main-bg), var(--sub-color) 100%);
}

.skills_section {
  background: var(--inv-bg);
}

.projects_section {
  background: var(--sub-color);
}

.section_title {
  font-size: 50px;
}