.project_title {
  display: flex;
  justify-content: center;
  color: var(--main-text);
}

.project_card {
  background-color: var(--sub-bg);
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  margin-bottom: 40px;
  width: 1024px;
  transition: transform 0.3s ease;
}

.project_card:hover {
  transform: translateY(-5px); /* 마우스를 올리면 살짝 들리는 효과 */
}

.project_info_section {
  padding: 50px 40px 20px 40px;
}

.project_name {
  font-size: 30px;
  font-weight: 800;
  color: var(--main-text);
  margin-bottom: 15px;
}

.project_description {
  font-size: 18px;
  font-weight: 500;
  color: var(--main-text);
  margin-bottom: 25px;
}

.project_date {
  font-size: 16px;
  color: var(--sub-text);
  margin-bottom: 20px;
}

.project_tag_container {
  display: flex;
  gap: 5px;
}

.project_tag {
  padding: 5px 13px;
  border-radius: 16px;
  font-size: 16px;
  font-family: 'JetBrains Mono', monospace;
}

.project_content_section {
  display: flex;
  background-color: rgba(var(--sub-rgb), 0.4);
  margin: 20px 30px;
  border-radius: 12px;
  padding: 10px;
}

.project_detail_box {
  flex: 1;
  padding: 45px 30px 30px 30px;
}

.project_detail_box h3 {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 19px;
  margin-bottom: 25px;
  color: var(--main-color);
}

.project_detail_box h3::before {
  content: "";
  width: 4px;
  height: 18px;
  background-color: var(--main-color);
  border-radius: 2px;
}

.project_detail_box ul {
  padding-left: 20px;
}

.project_detail_box li {
  margin-bottom: 14px;
  line-height: 1.7;
  color: var(--main-text);
  word-break: keep-all;
}

.project_link_section {
  display: flex;
  margin-top: 10px;
  padding: 20px 40px 40px 40px; 
  gap: 15px;
}

.link_button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  transition: all 0.2s ease;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.link_github {
  background-color: var(--inv-bg);
  color: var(--inv-text);
}

.link_github:hover {
  background-color: var(--main-color);
  border-color: var(--main-color);
  transform: translateY(-2px);
}

.link_default {
  background-color: rgba(var(--main-rgb), 0.1);
  color: var(--main-color);
}

.link_default:hover {
  background-color: var(--main-bg);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}