.season_waterfall {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.season_waterfall::before,
.season_waterfall::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  z-index: 2;
  pointer-events: none;
}

.season_waterfall::before {
  top: 0;
  background: linear-gradient(to bottom, 
    var(--inv-bg) 0%, 
    transparent 100%
  );
}

.season_waterfall::after {
  bottom: 0;
  background: linear-gradient(to top, 
    var(--inv-bg) 0%, 
    transparent 100%
  );
}

.waterfall_track {
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: scrollDown 100s linear infinite;
}

@keyframes scrollDown {
  0% { transform: translateY(0); }
  100% { transform: translateY(-50%); }
}

.waterfall_item {
  width: 100%;
  flex-shrink: 0; /* 사진이 압축되어 찌그러지는 현상 방지 */
}

.waterfall_item img {
  width: 100%;
  object-fit: cover;
}