footer {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  background-color: rgba(var(--main-rgb), 0.8);
}

.footer_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.footer_contact {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
}

.footer .contact_block {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--inv-text);
  font-size: 14px;
  
  width: fit-content;
  padding: 5px 10px;
  transition: color 0.2s ease;
}

.footer .contact_block:hover {
  text-decoration: underline;
}

.footer_copyright {
  font-size: 13px;
  color: rgba(var(--inv-text-rgb), 0.5);
}