* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  scroll-margin-top: 60px;
}

.w-max {
  max-width: 1024px;
}

.section-p {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 11vh;
}

/* 라이트 모드 공통 색상 */
:root[data-mode='light'] {
  --main-bg: #FFFFFF;
  --main-text: #2D2E32;
  --sub-bg: #F8F9FA;
  --sub-text: #6C757D;
  --inv-bg: #2D2E32;
  --inv-text: #F8F9FA;

  --inv-bg-rgb: 45, 46, 50;
  --inv-text-rgb: 248, 249, 250;
}

/* 다크 모드 공통 색상 */
:root[data-mode='dark'] {
  --main-bg: #1A1C1E;
  --main-text: #E2E2E2;
  --sub-bg: #25282B;
  --sub-text: #A0A0A0;
  --inv-bg: #323539;
  --inv-text: #FFFFFF;

  --inv-bg-rgb: 50, 53, 57;
  --inv-text-rgb: 255, 255, 255;
}

/* 사계절 색상 */
/* spring */
:root[data-season='spring'][data-mode='light'] {
  --main-color: #5AAB66; --main-rgb: 120, 171, 130;
  --sub-color: #F7E9EB;  --sub-rgb: 240, 226, 228;
}
:root[data-season='spring'][data-mode='dark'] {
  --main-color: #93C49D; --main-rgb: 147, 196, 157;
  --sub-color: #3D3839;  --sub-rgb: 61, 56, 57;
}

/* summer */
:root[data-season='summer'][data-mode='light'] {
  --main-color: #6A96CF; --main-rgb: 106, 150, 207;
  --sub-color: #EAE7D6;  --sub-rgb: 234, 231, 214;
}
:root[data-season='summer'][data-mode='dark'] {
  --main-color: #8EAFD9; --main-rgb: 142, 175, 217;
  --sub-color: #34332F;  --sub-rgb: 52, 51, 47;
}

/* autumn */
:root[data-season='autumn'][data-mode='light'] {
  --main-color: #BC6C25; --main-rgb: 188, 108, 37;
  --sub-color: #E9E0D2;  --sub-rgb: 233, 224, 210;
}
:root[data-season='autumn'][data-mode='dark'] {
  --main-color: #DDA15E; --main-rgb: 221, 161, 94;
  --sub-color: #36322D;  --sub-rgb: 54, 50, 45;
}

/* winter */
:root[data-season='winter'][data-mode='light'] {
  --main-color: #6B8EAD; --main-rgb: 107, 142, 173;
  --sub-color: #D6DBE0;  --sub-rgb: 214, 219, 224;
}
:root[data-season='winter'][data-mode='dark'] {
  --main-color: #8EB0CC; --main-rgb: 142, 176, 204;
  --sub-color: #2D3236;  --sub-rgb: 45, 50, 54;
}

/* 폰트 설정 */
:root[data-lang='ko'] {font-family: 'Inter', 'Pretendard', sans-serif}
:root[data-lang='en'] {font-family: 'Inter', sans-serif}
:root[data-lang='ja'] {font-family: 'Inter', 'Noto Sans JP', sans-serif}
